/*
    Document   : dropdown
    Created on : Nov 12, 2013, 11:12:10 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

/*
	CSS picked from Codrops
	Title: CUSTOM DROP-DOWN LIST STYLING
	Url: http://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/
	Patched by: kamal
*/

.wrapper-dropdown-5
{
	/* Size & position */
	margin: 0 auto;
	outline: none;
	transition: all 0.3s ease-out;
	z-index: 11;
}

.wrapper-dropdown-5 .dropdown
{
	/* Size & position */
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	/* Styles */
	background: #f5f5f5;
	border: 1px solid #F5F5F5;
	list-style: none;
	transition: all 0.3s ease-out;

	/* Hiding */
	max-height: 0;
	overflow: hidden;
}

/* Active state */

.wrapper-dropdown-5.active
{
	background: #4cbeff;
	box-shadow: none;
	color: white;
}

.wrapper-dropdown-5.active .dropdown
{
	background: #FAFAFA;
	border: 1px solid #F0F0F0;
	max-height: 400px;
}



#div-menu-grabber button
{
	width: 40px;
	height: 40px;

	border: 0px;
	outline: none;

	background-color: transparent;
	cursor: pointer;
}

#div-menu-grabber button:hover
{
	background-color: #FEFEFE;
}
