/*
    Document   : visualization-form
    Created on : Oct 27, 2013, 1:34:37 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

/*#section-entity-form-component
{
	width: 500px;
	background-color: #F5F5F5;
	margin: 50px auto auto auto;
}

#section-entity-form-component h2
{
	color: white;
}*/

#section-forms-component
{
	width: 100%;
	height: 100%;
}

#ul-add-entity
{
	width: 500px;
}

#ul-add-entity.d3collection
{
	background: #F5F5F5;
	height: 320px;
}

#ul-add-entity.datastore
{
	background: #F5F5F5;
	height: 320px;
}

#ul-add-entity.visualization
{
	background: #F5F5F5;
	height: 410px;
}

/*#ul-add-entity.datasource*/
#form-add-entity.datasource
{
	background: #F5F5F5;
	height: 320px;
	width: 500px;
	overflow: hidden;
}

#ul-add-entity li
{
	margin-top: 5px;
	text-align: center;
}

#ul-add-entity #li-title
{
	font-size: 30px;
	font-weight: 700;
	color: #777;
}

#ul-add-entity input,
#ul-add-entity select,
#ul-add-entity textArea
{
	border: 0px;
	/*border-bottom: 1px solid #eeeeee !important;*/

	height: 40px;
	width: 90%;

	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: darkgray;

	background-color: #fdfdfd;

	padding: 5px;
}

#ul-add-entity textArea
{
	height: 100px;
}

#ul-add-entity select
{
	width: 90% !important;
	padding: 0px !important;
}

#ul-add-entity #li-buttons
{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
}


#section-forms-component #li-datasource-upload
{
	height: 120px;
}

#section-forms-component #div-file-upload-mask
{
	border: 2px dashed #eee;
	height: 110px;
	width: 92%;

	background-color: white;

	color: darkgray;
	font-size: 24px;
	line-height: 105px;
	text-align: center !important;

	position: relative;
	margin: 0 auto;
	cursor: pointer;
}

#section-forms-component input[type="file"]
{
	border: 2px dashed #eee;
	height: 100px;
	vertical-align: middle;
	line-height: 90px;
	text-align: center !important;
	cursor: pointer;

	opacity: 0;

	position: relative;
	top: -115px
}

