/*
    Document   : footer
    Created on : Nov 1, 2013, 9:00:18 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

/*footer
{
	height: 30px;
}*/

footer div
{
	height: 30px;
	background-color: skyblue;
	float: left;
	width: 100%;
	text-align: center;
}

footer p
{
	height: 30px;
}

