/*
    Document   : main
    Created on : Oct 14, 2013, 4:14:38 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/


*,
*:after,
*:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html, body
{
	margin: 0px;
	height: 100%;

	font-family: "Titillium Web", sans-serif !important;

	overflow: hidden;
}

body
{
	position: relative;
}

#middle-container
{
	display: flex;
	height: 100%;
}

.overlay{
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(255,255,255,0.1); /*dim the background*/
}

.hidden
{
	display: none;
}

ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}



.component-title
{
	color: darkgray;
	font-size: 14px;
	font-weight: 700;
	text-indent: 10px;
	text-transform: uppercase;
	height: 20px;
}


ul.system-items li,
ul.regular-items li
{
	margin-top: 1px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}

ul.system-items li:hover,
ul.regular-items li:hover
{
	background-color: #F5F5F5;
}

ul.system-items li:hover:before,
ul.regular-items li:hover:before
{
	width: 5px;
	height: inherit;
	background-color: #36A9E0;
	content: '';
	color: transparent;
	display: block;
	margin-bottom: -30px;
}

.item-icon:before
{
	margin-left: -25px;
	margin-right: 5px;
}

.item-name
{
	display: block;
	float: left;
	width: 80%;
	/*background-color: #72CAEF;*/
}

.item-number
{
	display: block;
	float: left;
	width: 20%;
	/*background-color: tomato;*/
	text-align: center;
	text-indent: 0px;
	font-size: 12px;
}




ul.system-items li a
{
	font-weight: 700;
}

ul.regular-items li a
{
	font-weight: 600;
}




button.button-add-item
{
	margin: 0px;
	border: 0px solid #eeeeee;
	height: 30px;
	line-height: 14px;
	font-family: "Titillium Web", sans-serif;
	font-size: 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #eee;
	width: 80%;
	cursor: pointer;
	font-weight: 700;
	color: #777;
}



.bg-yellow-green
{
	background-color: yellowgreen;
}

.bg-skyblue
{
	background-color: skyblue;
}

.color-skyblue
{
	color: skyblue;
}


.fs10
{
	font-size: 10px;
}



button.d3-button
{
	border: 0px;
	/*border-bottom: 1px solid #eeeeee !important;*/

	height: 50px;
	width: 45%;

	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;

	color: white;
	cursor: pointer;

	padding: 5px;
}

button.d3-button.save
{
	background-color: yellowgreen;
}

button.d3-button.cancel
{
	background-color: skyblue;
}

.center-container
{
	position: relative;
}

.absolute-center
{
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}




