/*
    Document   : wall
    Created on : Nov 8, 2013, 3:46:10 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

#section-wall-component .gridster > ul > li
{
	background-color: #F5F5F5;
}

