/*
    Document   : workspace
    Created on : Oct 27, 2013, 2:45:41 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

#section-workspace-component
{
	/*background-color: tomato;*/
	display: block;
	float: left;
	width: 85%;
	/*text-align: center;*/
	height: 600px;
}


#ul-workspace-menu
{
	width: 600px;
	height: 50px;
	text-align: center;
}


