<form enctype="multipart/form-data">
	<ul id="ul-add-entity">
		<li id="li-title">
			Add Data Source
		</li>
		<li id="li-name">
			<input type="text" id="name" name="name" required="required" maxlength="255" placeholder="Data source name"/>
		</li>
		<li id="li-datasource-upload">
			<div id="div-file-upload-mask">
				Choose a file or drop it here
			</div>
			<input type="file" id="file-datasource" name="file" />
		</li>
		<li id="li-buttons">
			<button id="button-cancel" class="d3-button bg-skyblue">Cancel</button>
			<button id="button-save" class="d3-button bg-yellow-green">Save</button>
		</li>
	</ul>
</form>