<ul id="ul-add-entity" class="absolute-center d3collection">
	<li id="li-title">
		Add Collection
	</li>
	<li id="li-name">
		<input type="text" id="input-collection-name" name="name" required maxlength="255" placeholder="Collection name"/>
	</li>
	<li id="li-description">
		<textarea id="textarea-collection-description" name="description" required placeholder="Description of the collection"></textarea>
	</li>
	<li id="li-buttons">
		<button id="button-cancel" class="d3-button bg-skyblue">Cancel</button>
		<button id="button-save" class="d3-button bg-yellow-green">Save</button>
	</li>
</ul>