<ul id="ul-add-entity">
	<li id="li-title">
		Add Data Store
	</li>
	<li id="li-name">
		<input type="text" id="input-datastore-name" name="name" required="required" maxlength="255" placeholder="Data store name"/>
	</li>
	<li id="li-description">
		<textarea id="textarea-datastore-description" name="description" required="required" placeholder="Description of the data store"></textarea>
	</li>
	<li id="li-buttons">
		<button id="button-cancel">Cancel</button>
		<button id="button-save">Save</button>
	</li>
</ul>