/*
    Document   : main
    Created on : Oct 14, 2013, 4:14:38 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/


html, body
{
	margin: 0px;
	font-family: "Titillium Web", sans-serif;
}

ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}



.component-title
{
	color: darkgray;
	font-size: 14px;
	font-weight: 700;
	text-indent: 10px;
	text-transform: uppercase;
	height: 20px;
}


ul.system-items li,
ul.regular-items li
{
	/*text-indent: 20px;*/
	/*background-color: lightblue;*/
	margin-top: 1px;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
}

.item_name
{
	display: block;
	float: left;
	width: 80%;
	/*background-color: #72CAEF;*/
}

.item_number
{
	display: block;
	float: left;
	width: 20%;
	/*background-color: tomato;*/
	text-align: center;
	text-indent: 0px;
	font-size: 12px;
}




ul.system-items li a
{
	font-weight: 700;
}

ul.regular-items li a
{
	font-weight: 600;
}




button.button-add-item
{
	margin: 0px;
	border: 0px solid #eeeeee;
	height: 30px;
	line-height: 14px;
	font-family: "Titillium Web", sans-serif;
	font-size: 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #eee;
	width: 80%;
	cursor: pointer;
	font-weight: 700;
	color: #777;
}
