/*
    Document   : workspace
    Created on : Oct 27, 2013, 2:45:41 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

#section-workspace
{
	/*background-color: tomato;*/
	display: block;
	float: left;
	width: 85%;
	/*text-align: center;*/
	height: 500px;
}

