D3\AnalyticsBundle\Entity\D3Collection:
  type: entity
  table: collection
  repositoryClass: D3\AnalyticsBundle\Entity\Repository\D3CollectionRepository
  fields:
    id:
      type: integer
      id: true
      generator:
        strategy: AUTO
    name:
      type: string
      length: 255
    description:
      type: text
    collectionTypeId:
      type: integer
    creationDate:
      type: datetime
    updateDate:
      type: datetime

  manyToMany:
    visualizations:
      targetEntity: Visualization
      mappedBy: collections

  lifecycleCallbacks: {  }
