D3\AnalyticsBundle\Entity\DataSource:
  type: entity
  table: data_source
  uniqueConstraints:
    fileName_unique_idx:
      columns: [ fileName ]
  fields:
    id:
      type: integer
      id: true
      generator:
        strategy: AUTO
    name:
      type: string
      length: 255
    fileName:
      type: string
      length: '32'

  manyToMany:

    dataStores:
      targetEntity: DataStore
      joinTable:
        name: data_store_data_source_assoc
        joinColumns:
          data_store_id:
            referencedColumnName: id
            onDelete: CASCADE
        inverseJoinColumns:
          data_source_id:
            referencedColumnName: id
            onDelete: CASCADE


  lifecycleCallbacks: {  }
