D3\AnalyticsBundle\Entity\DataStore:
  type: entity
  table: data_store
  collate: utf8_bin

  fields:
    id:
      type: integer
      id: true
      generator:
        strategy: AUTO
    name:
      type: string
      length: 255
    description:
      type: text
    dataStoreTypeId:
      type: integer
    creationDate:
      type: datetime
    updateDate:
      type: datetime

  manyToMany:
    dataSources:
      targetEntity: DataSource
      mappedBy: dataStores

  lifecycleCallbacks: {  }
