parameters:
  d3_analytics.json_response_listener.class: D3\AnalyticsBundle\EventListener\JsonResponseListener

services:
  d3_analytics.json_response_listener:
    class: %d3_analytics.json_response_listener.class%
    tags:
      - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }

#    arguments: [@service_id, "plain_value", %parameter%]

