parameters:
#    d3_analytics.example.class: D3\AnalyticsBundle\Example

services:
#    d3_analytics.example:
#        class: %d3_analytics.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
