imports:
    - { resource: config.yml }

framework:
    router:
        resource: "%kernel.root_dir%/config/routing_dev.yml"
        strict_requirements: true
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

monolog:
    handlers:
        main:
            type:  stream
            path:  %kernel.logs_dir%/%kernel.environment%.log
            level: debug
        firephp:
            type:  firephp
            level: info
        chromephp:
            type:  chromephp
            level: info

assetic:
    use_controller: true

#swiftmailer:
#    delivery_address: me@example.com




#fos_rest:
#
#  param_fetcher_listener: true
#  allowed_methods_listener: true
#  body_listener:
#    decoders:
#      json: fos_rest.decoders.json
#
#  format_listener: true
#
#  view:
#    view_response_listener: 'force'
#
#    formats:
#      json : true
#
#    failed_validation: HTTP_BAD_REQUEST
#
#    default_engine: php
#
#  routing_loader:
#    include_format: false
#    default_format: json
#
#
#
#jms_serializer:
#  metadata:
#    directories:
#      D3Analytics:
#        namespace_prefix: D3\AnalyticsBundle
#        path: "@D3AnalyticsBundle/Resources/config/serializer/d3"



