<div class="side leftSide hidden"></div>
<div id="div-handle" class="side topSide">
  <div id="span-visualization-name">
    <%= name %>
    <!--<button id="button-update-viz-size">update</button>-->
  </div>
  <!--<div id="div-menu-grabber" class="icon">&#59232</div>-->

  <div id="div-menu-grabber" class="wrapper-dropdown-5 icon" tabindex="1">&#59232
    <ul class="dropdown">
      <li>
        <button id="button-edit">
          <span class="icon">&#9998;</span>
        </button>
      </li>
      <li>
        <button id="button-attach-datasource">
          <span class="icon">&#128206;</span>
        </button>
      </li>
      <li>
        <button id="button-deactivate">
          <span class="icon">&#59177;</span>
        </button>
      </li>
    </ul>
  </div>
</div>

<div id="div-viz-content" class="center-container"></div>

<div class="side rightSide hidden"></div>
<div class="side bottomSide hidden"></div>
