<div id="div-edit-visualization">
	<ul id="ul-tabs" class="nav nav-tabs">
		<li id="li-tab-visualization"><a href="#visualization" data-toggle="tab">Visualization</a></li>
		<li id="li-tab-chart"><a href="#chart" data-toggle="tab">Chart</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="visualization">
			<section id="section-visualization-form-component"></section>
		</div>

		<div class="tab-pane" id="chart">
			<section id="section-chart-editor-component"></section>
		</div>

		<div id="div-visualization-edition-buttons">
			<button id="button-cancel" class="d3-button bg-skyblue">Cancel</button>
			<button id="button-save" class="d3-button bg-yellow-green">Save</button>
		</div>
	</div>
</div>